.imageTop {
    width: 100%;
    margin-top: 10px;
}

.title {
    margin-top: 10px;
    color: #0b76b8;
}

.author {
    font-size: 10pt;
    color: #616161;
}

.content {
    padding-bottom: 80px;
}