.list {
    display: flex;
    border-bottom: 0.1em solid #055a8f51;
}

.image {
    margin: 10px 10px 10px 0px;
    width: 240px;
    height: 160px;
    border-radius: 4%;
}

.item {
    margin-left: 4px;
}

.title {
    margin-top: 10px;
    color: #0b76b8;
}

.desc {
    margin-bottom: 0px;
}

.link {
    width: fit-content;
}

.see-more {
    margin-bottom: 10px;
}